<div>
  <h2 id="page-heading" data-cy="FicheSuiviOuvrageHeading">
    <span jhiTranslate="passerelleApp.gestioneauFicheSuiviOuvrage.home.title">Fiche Suivi Ouvrages</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="passerelleApp.gestioneauFicheSuiviOuvrage.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-fiche-suivi-ouvrage"
        [routerLink]="['/fiche-suivi-ouvrage/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="passerelleApp.gestioneauFicheSuiviOuvrage.home.createLabel">
          Create a new Fiche Suivi Ouvrage
        </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="currentSearch"
            id="currentSearch"
            name="currentSearch"
            placeholder="{{ 'passerelleApp.gestioneauFicheSuiviOuvrage.home.search' | translate }}"
          />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="ficheSuiviOuvrages?.length === 0">
    <span jhiTranslate="passerelleApp.gestioneauFicheSuiviOuvrage.home.notFound">No ficheSuiviOuvrages found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="ficheSuiviOuvrages && ficheSuiviOuvrages.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prjAppuis">
            <span jhiTranslate="passerelleApp.gestioneauFicheSuiviOuvrage.prjAppuis">Prj Appuis</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nomBenef">
            <span jhiTranslate="passerelleApp.gestioneauFicheSuiviOuvrage.nomBenef">Nom Benef</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="prenomBenef">
            <span jhiTranslate="passerelleApp.gestioneauFicheSuiviOuvrage.prenomBenef">Prenom Benef</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="professionBenef">
            <span jhiTranslate="passerelleApp.gestioneauFicheSuiviOuvrage.professionBenef">Profession Benef</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nbUsagers">
            <span jhiTranslate="passerelleApp.gestioneauFicheSuiviOuvrage.nbUsagers">Nb Usagers</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="contacts">
            <span jhiTranslate="passerelleApp.gestioneauFicheSuiviOuvrage.contacts">Contacts</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="longitude">
            <span jhiTranslate="passerelleApp.gestioneauFicheSuiviOuvrage.longitude">Longitude</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="latitude">
            <span jhiTranslate="passerelleApp.gestioneauFicheSuiviOuvrage.latitude">Latitude</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateRemiseDevis">
            <span jhiTranslate="passerelleApp.gestioneauFicheSuiviOuvrage.dateRemiseDevis">Date Remise Devis</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateDebutTravaux">
            <span jhiTranslate="passerelleApp.gestioneauFicheSuiviOuvrage.dateDebutTravaux">Date Debut Travaux</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateFinTravaux">
            <span jhiTranslate="passerelleApp.gestioneauFicheSuiviOuvrage.dateFinTravaux">Date Fin Travaux</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="rue">
            <span jhiTranslate="passerelleApp.gestioneauFicheSuiviOuvrage.rue">Rue</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="porte">
            <span jhiTranslate="passerelleApp.gestioneauFicheSuiviOuvrage.porte">Porte</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="coutMenage">
            <span jhiTranslate="passerelleApp.gestioneauFicheSuiviOuvrage.coutMenage">Cout Menage</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="subvOnea">
            <span jhiTranslate="passerelleApp.gestioneauFicheSuiviOuvrage.subvOnea">Subv Onea</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="subvProjet">
            <span jhiTranslate="passerelleApp.gestioneauFicheSuiviOuvrage.subvProjet">Subv Projet</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="autreSubv">
            <span jhiTranslate="passerelleApp.gestioneauFicheSuiviOuvrage.autreSubv">Autre Subv</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="toles">
            <span jhiTranslate="passerelleApp.gestioneauFicheSuiviOuvrage.toles">Toles</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="animateur">
            <span jhiTranslate="passerelleApp.gestioneauFicheSuiviOuvrage.animateur">Animateur</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="superviseur">
            <span jhiTranslate="passerelleApp.gestioneauFicheSuiviOuvrage.superviseur">Superviseur</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="controleur">
            <span jhiTranslate="passerelleApp.gestioneauFicheSuiviOuvrage.controleur">Controleur</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="parcelle.libelle">
            <span jhiTranslate="passerelleApp.gestioneauFicheSuiviOuvrage.parcelle">Parcelle</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="prevision.id">
            <span jhiTranslate="passerelleApp.gestioneauFicheSuiviOuvrage.prevision">Prevision</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="natureouvrage.libelle">
            <span jhiTranslate="passerelleApp.gestioneauFicheSuiviOuvrage.natureouvrage">Natureouvrage</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="typehabitation.libelle">
            <span jhiTranslate="passerelleApp.gestioneauFicheSuiviOuvrage.typehabitation">Typehabitation</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sourceapprovep.libelle">
            <span jhiTranslate="passerelleApp.gestioneauFicheSuiviOuvrage.sourceapprovep">Sourceapprovep</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="modeevacuationeauusee.libelle">
            <span jhiTranslate="passerelleApp.gestioneauFicheSuiviOuvrage.modeevacuationeauusee">Modeevacuationeauusee</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="modeevacexcreta.libelle">
            <span jhiTranslate="passerelleApp.gestioneauFicheSuiviOuvrage.modeevacexcreta">Modeevacexcreta</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="macon.libelle">
            <span jhiTranslate="passerelleApp.gestioneauFicheSuiviOuvrage.macon">Macon</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="prefabricant.libelle">
            <span jhiTranslate="passerelleApp.gestioneauFicheSuiviOuvrage.prefabricant">Prefabricant</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ficheSuiviOuvrage of ficheSuiviOuvrages; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/fiche-suivi-ouvrage', ficheSuiviOuvrage.id, 'view']">{{ ficheSuiviOuvrage.id }}</a>
          </td>
          <td>{{ ficheSuiviOuvrage.prjAppuis }}</td>
          <td>{{ ficheSuiviOuvrage.nomBenef }}</td>
          <td>{{ ficheSuiviOuvrage.prenomBenef }}</td>
          <td>{{ ficheSuiviOuvrage.professionBenef }}</td>
          <td>{{ ficheSuiviOuvrage.nbUsagers }}</td>
          <td>{{ ficheSuiviOuvrage.contacts }}</td>
          <td>{{ ficheSuiviOuvrage.longitude }}</td>
          <td>{{ ficheSuiviOuvrage.latitude }}</td>
          <td>{{ ficheSuiviOuvrage.dateRemiseDevis | formatMediumDatetime }}</td>
          <td>{{ ficheSuiviOuvrage.dateDebutTravaux | formatMediumDatetime }}</td>
          <td>{{ ficheSuiviOuvrage.dateFinTravaux | formatMediumDatetime }}</td>
          <td>{{ ficheSuiviOuvrage.rue }}</td>
          <td>{{ ficheSuiviOuvrage.porte }}</td>
          <td>{{ ficheSuiviOuvrage.coutMenage }}</td>
          <td>{{ ficheSuiviOuvrage.subvOnea }}</td>
          <td>{{ ficheSuiviOuvrage.subvProjet }}</td>
          <td>{{ ficheSuiviOuvrage.autreSubv }}</td>
          <td>{{ ficheSuiviOuvrage.toles }}</td>
          <td>{{ ficheSuiviOuvrage.animateur }}</td>
          <td>{{ ficheSuiviOuvrage.superviseur }}</td>
          <td>{{ ficheSuiviOuvrage.controleur }}</td>
          <td>
            <div *ngIf="ficheSuiviOuvrage.parcelle">
              <a [routerLink]="['/parcelle', ficheSuiviOuvrage.parcelle?.id, 'view']">{{ ficheSuiviOuvrage.parcelle?.libelle }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="ficheSuiviOuvrage.prevision">
              <a [routerLink]="['/prevision', ficheSuiviOuvrage.prevision?.id, 'view']">{{ ficheSuiviOuvrage.prevision?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="ficheSuiviOuvrage.natureouvrage">
              <a [routerLink]="['/nature-ouvrage', ficheSuiviOuvrage.natureouvrage?.id, 'view']">{{
                ficheSuiviOuvrage.natureouvrage?.libelle
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="ficheSuiviOuvrage.typehabitation">
              <a [routerLink]="['/type-habitation', ficheSuiviOuvrage.typehabitation?.id, 'view']">{{
                ficheSuiviOuvrage.typehabitation?.libelle
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="ficheSuiviOuvrage.sourceapprovep">
              <a [routerLink]="['/source-approv-ep', ficheSuiviOuvrage.sourceapprovep?.id, 'view']">{{
                ficheSuiviOuvrage.sourceapprovep?.libelle
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="ficheSuiviOuvrage.modeevacuationeauusee">
              <a [routerLink]="['/mode-evacuation-eau-usee', ficheSuiviOuvrage.modeevacuationeauusee?.id, 'view']">{{
                ficheSuiviOuvrage.modeevacuationeauusee?.libelle
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="ficheSuiviOuvrage.modeevacexcreta">
              <a [routerLink]="['/mode-evac-excreta', ficheSuiviOuvrage.modeevacexcreta?.id, 'view']">{{
                ficheSuiviOuvrage.modeevacexcreta?.libelle
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="ficheSuiviOuvrage.macon">
              <a [routerLink]="['/macon', ficheSuiviOuvrage.macon?.id, 'view']">{{ ficheSuiviOuvrage.macon?.libelle }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="ficheSuiviOuvrage.prefabricant">
              <a [routerLink]="['/prefabricant', ficheSuiviOuvrage.prefabricant?.id, 'view']">{{
                ficheSuiviOuvrage.prefabricant?.libelle
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/fiche-suivi-ouvrage', ficheSuiviOuvrage.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/fiche-suivi-ouvrage', ficheSuiviOuvrage.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(ficheSuiviOuvrage)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="ficheSuiviOuvrages && ficheSuiviOuvrages.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
